<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>As the Crow Flies</title>
</head>
<body>

    <nav class="navbar bg-body-tertiary navbar-messaging d-flex flex-row justify-content-between">
      <div class="container">
          <a class="navbar-brand col-3" href="#">
            <img src="/images/crowb.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <h3 class="d-inline-block">As the Crow Flies</h3>
          </a>
          <h3 class="text-center col-3 username-title"></h3>
          <div class="col-3">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">Home</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="../">Logout</a></li>
              </ul>
            </div>
          </div>
      </div>
    </nav>

  <div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-6 account-content">
            
            <div class="account-title d-flex flex-column">
                    
                    <h2 class="account-username align-self-center text-center"><%= Username %></h2>
                    
                    <button type="button" class="btn btn-primary edit-username-button align-self-center" data-bs-toggle="modal" data-bs-target="#usernameModal">
                        Change Username
                    </button>
            </div>

            <div class="account-sub d-flex flex-row justify-content-between p-3">
                <div class="text-start">
                    <p class="account-heading">Name</p>
                    <h4><%= FirstName + " " + LastName %></h4>
                </div>
                <button type="button" class="btn btn-primary edit-button align-self-center" data-bs-toggle="modal" data-bs-target="#nameModal">
                    Change Name
                </button>
            </div>

            <div class="line"></div>

            <div class="account-sub d-flex flex-row justify-content-between p-3">
                <div class="text-start">
                    <p class="account-heading">Email</p>
                    <h4><%= Email%></h4>
                </div>
                <button type="button" class="btn btn-primary edit-button align-self-center" data-bs-toggle="modal" data-bs-target="#emailModal">
                    Change Email
                </button>
            </div>

            <div class="line"></div>

            <div class="account-sub d-flex flex-row  justify-content-center p-3">
                <button type="button" class="btn btn-primary edit-password-button align-self-center" data-bs-toggle="modal" data-bs-target="#passwordModal">
                    Change Password
                </button>
            </div>
            
        </div>
    </div>
  </div>

    <!-- Modals -->
    <!-- Username Modal -->
<div class="modal fade bg-dark" id="usernameModal" tabindex="-1" aria-labelledby="Change Username" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="usernameModalTitle">Change Username</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/home/account/username" method="post">
            <div class="modal-body">
                <input type="text" id="username" class="form-control entry"
                placeholder="Type New Username Here" name="username" required>
                <label for="username">New Username</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Name Modal -->
<div class="modal fade bg-dark" id="nameModal" tabindex="-1" aria-labelledby="Change Name" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="nameModalTitle">Change First/Last Name</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/home/account/name" method="post">
            <div class="modal-body">
                <input type="text" id="fName" class="form-control entry"
                placeholder="Type first name here" name="fName">
                <label for="fName">New First Name</label>
            </div>
            <div class="modal-body">
                <input type="text" id="lName" class="form-control entry"
                placeholder="Type last name here" name="lName">
                <label for="lName">New Last Name</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

    <!-- Email Modal -->
<div class="modal fade bg-dark" id="emailModal" tabindex="-1" aria-labelledby="Change Email" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="emailModalTitle">Change Email</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/home/account/email" method="post">
            <div class="modal-body">
                <input type="text" id="email" class="form-control entry"
                placeholder="Type New Email here" name="email" required>
                <label for="email">New Email</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Password Modal -->
<div class="modal fade bg-dark" id="passwordModal" tabindex="-1" aria-labelledby="Change Password" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="passwordModalTitle">Change Password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/home/account/password" method="post">
            <div class="modal-body">
                <input type="password" id="oldPassword" class="form-control entry"
                placeholder="Type Old Password Here" name="oldPassword" required>
                <label for="oldPassword">Confirm Old Password</label>
            </div>
            <div class="modal-body">
                <input type="password" id="newPassword" class="form-control entry"
                placeholder="Type New Password Here" name="newPassword" required>
                <label for="newPassword">New Password</label>
            </div>
            <div class="modal-body">
                <input type="password" id="confirmNewPassword" class="form-control entry"
                placeholder="Type New Password to Confirm" name="confirmNewPassword" required>
                <label for="confirmNewPassword">Confirm New Password</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary" type="submit">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="navbar bg-body-tertiary footer-messaging d-flex flex-column-reverse">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/crowb.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        As the Crow Flies
      </a>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  
</body>
</html>