.navbar-home, .navbar-signup, .navbar-messaging {
    background-color: #616682 !important;
    border-bottom: 5px solid #020300;
}

.heading {
    color: white;
}

.icon {
    max-width: 20px;
    max-height: 20px !important;
}

body {
    background-color: #020300;
    background-image: url("../images/background.jpg");
}

#home, #account, #logout {
    margin: 0;
}

.content {
    margin-top: 22vh;
}

#username, #password, #fName, #lName, #email, #passwordConfirm {
    border: 2px solid #020300;
}

.account-title {
    background-color: rgba(0, 168, 232, 1);
    width: 100%;
    border-bottom: 5px solid #020300;
    color: black;
}

.contact-options {
    background-color: rgba(0, 168, 232, 1);
    width: 100%;
    border: 5px solid #020300;
}

.login-text {
    width: 70%;
}

.normal-button {
    background-color: #33b9ed;
    border: 2px solid #020300;
    border-radius: 10px;
    padding: .4vw;
    padding-left: .7vw;
    padding-right: .7vw;
}

.normal-button > span {
    display: inline-block;
    width: 65px !important;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #020300;
}

.account-content {
    height: 100%;
    padding: 0;
}

.account-sub {
    background-color: #C1BDB3;
    color: #020300;
}

.account-username {
    width: 100%;
}

.account-heading {
    margin-bottom: 0;
}

.edit-button, .edit-psswrd-button, .edit-username-button {
    max-width: 5vw;
    max-height: 6vh;
    font-size: 14px !important;
    padding: auto;
}

.edit-psswrd-button, .edit-username-button {
    max-width: fit-content;
}

.login, .account-content {
    color: white;
    background-color: rgba(97, 102, 130, .8);
    border: 5px solid #020300;
    border-radius: 10px;
}


.form-floating {
    color: #020300;
}

.invalid-feedback, .valid-feedback {
    color: #020300;

}

a.forgotPass:link, a.forgotPass:visited {
    color: #020300;
}

a.forgotPass:hover, a.forgotPass:active {
    color: #353533;
}

.messaging-content {
    margin-top: 4vh;
}

.footer-login, .footer-signup, .footer-home, .footer-messaging, .footer-account, .footer-logout {
    background-color: #616682 !important;
    border-top: 5px solid #020300;
}

.footer-login {
    margin-top: 39vh;
}

.footer-signup {
    margin-top: 31.1vh;
}

.footer-home {
    margin-top: 4.1vh;
}

.footer-account {
    margin-top: 38.1vh;
}

.footer-logout {
    margin-top: 55vh;
}

.friendui, .friend-requests, .messaging {
    background-color: rgba(97, 102, 130, .8);
    height: 78vh;
    border: 5px solid #020300;
    padding: 0;
}

.friendui {
    border-radius: 10px 10px 10px 10px;
}

.roundedCorners {
    border-radius: 10px 0px 0px 10px;
}

.friendlist {
    max-height: 88%;
}

.popup-add {
    background-color: #C1BDB3;
}

.popup-add > h6 {
    color: black;
}

.labelSearch {
    margin-left: 2vw;
}

#messaginglist {
    padding-left: 0px;
    margin-right: 0.5vw;
    max-height: 47vh;
}

#friendSearch {
    border: 2px solid #020300;
    border-radius: 10px;
}

.friend, .requests, .friendmessaging {
    border: 2px solid #020300;
    width: 14vw;
    height: 60px;
    background-color: #C1BDB3;
    border-radius: 5px;
    margin-bottom: 2vh;
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.contact-button {
    padding: 0;
    margin-right: .5vw;
}

.dropdown-menu {
    background-color: #616682;
    border: 2px solid #020300;
}

.requests {
    height: 70px;
}

.btn-options {
    width: 70px;
}

.friend > p, .friendmessaging > span {
    margin: 0;
    width: fit-content;
}

.profilepic, .messager-profilepic {
    width: 50px;
    height: 50px;
    background-color: #00A8E8;
    border: 1px solid #020300;
    border-radius: 30px;
    margin-left: 0.5vw;
}

.profilepic > img, .messager-profilepic > img {
    max-height: 50px;
    max-width: 50px;
}

.friend > span {
    margin-right: 1vw;
}

.friendmessaging > span {
    width: 95%;
}

.messaging {
    border-radius: 0px 10px 10px 0px;
}

.messages {
    background-color: #C1BDB3;
    width: 100%;
    height: 60%;
    margin-top: 2vh;
    border: 5px solid #020300;
}

#messageLog {
    list-style: none;
    padding-left: 0;
}

.toFriend {
    border: 1px solid #020300;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin-right: 20px;
    background-color: #00A8E8;
}

.fromFriend {
    border: 1px solid #020300;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin-left: 20px;
    background-color: #FF6700;
}

.send-button {
    background-color: #C1BDB3;
    border: 2px solid #020300;
    border-radius: 10px;
}

.logoutWindow {
    border: 2px solid #020300;
    background-color: #00A8E8;
    border-radius: 10px;
    color: black;
}