.navbar-home, .navbar-signup, .navbar-messaging {
    background-color: #616682 !important;
    border-bottom: 5px solid #020300;
}

body {
    background-color: #020300;
    background-image: url("../images/background.jpg");
}

.content {
    margin-top: 22vh;
}

.account-title {
    background-color: rgba(0, 168, 232, 1);
    width: 100%;
    height: 10vh;
    border-bottom: 5px solid #020300;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #020300;
}


.account-content {
    height: 100%;
    padding: 0;
}

.account-sub {
    background-color: #C1BDB3;
    color: #020300;
}

.account-username {
    width: 100%;
}

.account-heading {
    margin-bottom: 0;
}

.edit-button, .edit-psswrd-button, .edit-username-button {
    max-width: 5vw;
    max-height: 6vh;
    font-size: 14px !important;
    padding: auto;
}

.edit-psswrd-button, .edit-username-button {
    max-width: fit-content;
}



.login, .account-content {
    color: white;
    background-color: rgba(97, 102, 130, .8);
    border: 5px solid #020300;
    border-radius: 10px;
}


.form-floating {
    color: #020300;
}

.invalid-feedback, .valid-feedback {
    color: #020300;

}

a.forgotPass:link, a.forgotPass:visited {
    color: #020300;
}

a.forgotPass:hover, a.forgotPass:active {
    color: #353533;
}


.messaging-content {
    margin-top: 4vh;
}

.footer-home {
    margin-top: 41.7vh;
    background-color: #616682 !important;
    border-top: 5px solid #020300;
}

.footer-messaging {
    margin-top: 3.75vh;
    border-top: 5px solid #020300;
    background-color: #616682 !important;
}

.friendui, .friend-requests, .messaging {
    background-color: #616682;
    height: 78vh;
    border: 5px solid #020300;
    opacity: 80%;
}

.friendui {
    border-radius: 10px 10px 10px 10px;
}

.roundedCorners {
    border-radius: 10px 0px 0px 10px;
}

.friendlist {
    max-height: 88%;
}

.popup-add {
    background-color: #C1BDB3;
}

.labelSearch {
    margin-left: 2vw;
}

#messaginglist {
    padding-left: 0px;
    margin-right: 0.5vw;
}

.friend, .requests {
    border: 1px solid #020300;
    width: 15vw;
    height: 60px;
    background-color: #C1BDB3;
    border-radius: 5px;
}

.requests {
    height: 70px;
}

.btn-options {
    width: 70px;
}

.friend > p {
    margin: 0;
    width: fit-content;
}

.profilepic {
    width: 50px;
    height: 50px;
    background-color: #00A8E8;
    border: 1px solid #020300;
    border-radius: 30px;
    margin-top: .5vh;
}

.profilepic > img {
    max-height: 50px;
    max-width: 50px;
}

.friend > span {
    margin-right: 1vw;
}

.messaging {
    border-radius: 0px 10px 10px 0px;
}

.messager {
    width: 50px;
    height: 50px;
    background-color: #00A8E8;
    border: 1px solid #020300;
    border-radius: 30px;
}

.messages {
    background-color: #C1BDB3;
    width: 100%;
    height: 60%;
    margin-top: 2vh;
    border: 5px solid #020300;
}

#messageLog {
    list-style: none;
    padding-left: 0;
}

.toFriend {
    border: 1px solid #020300;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin-right: 20px;
    background-color: #00A8E8;
}

.fromFriend {
    border: 1px solid #020300;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin-left: 20px;
    background-color: #FF6700;
}